:root.sunriseSunset-theme{
  --background: #355070;
  --textOnBright: #355070;
  --mainContainer: #6D597A;
  --button: #B56576;
  --navbar: #B56576;
  --hoverButton: #E56B6F;
  --highlightedContainer: #E88C7D;
  --goodThingContainer: #EAAC8B;
  --textOnDark: #EAAC8B;
  --infoContainer: #EEBBA0;
  --textInContainer: #EEBBA0;
  --navBarIcons: #EEBBA0;
  --textOnButton: #FFFFFF;
  --fontFamily: 'Inria Serif', serif;
  --red: #de0000;
}

:root.dracula-theme {
  --background: #282a36;
  --textOnBright: #222222;
  --mainContainer: #44475A;
  --button: #6272a4;
  --navbar: #6272a4;
  --hoverButton: #bd93f9;
  --highlightedContainer: #8be9fd;
  --goodThingContainer: #ffb86c;
  --textOnDark: #50fa7b;
  --infoContainer: #ff79c6;
  --textInContainer: #f1fa8c;
  --navBarIcons: #f1fa8c;
  --textOnButton: #FFFFFF;
  --fontFamily: 'Inria Serif', serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--textOnDark);
  font-family: 'Inria Serif', serif;
  overflow-x: hidden;
  overflow-y: scroll;

}



.App {
  display: flex;
  justify-content: center;

  height: auto;
  


  
}



.navbar {
  right: 0;
  background-color: var(--navbar);
  color: var(--navBarIcons);
 position: fixed;
 bottom: 0;
 width: 100%;
font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--navBarIcons);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:visited{
  color: var(--navBarIcons);
}

.navbar li a:hover {
  background-color: var(--hoverButton);
}

.contentContainer{

  width: 100%;
  max-width: 500px;

  padding-top: 35px;
  padding-left: 15px;
  padding-bottom: 80px;
  
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;;
  padding-top: 15px;
  gap: 15px;
  width: 100%;
}


.App-header {
  background-color: #355070;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select{
  font-family: 'Inria Serif', serif;
  width: 95%;
}

.logo{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;

 

  img{
    width: 50%;
    border-radius: 15px;
  }


}

.introtext{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
margin-bottom: 35px;
padding-left: 30px;
padding-right: 30px;

p{
  text-align: center;
  font-size: 0.9rem;
}
}



@keyframes colorPulse {
  0% { color: white; }
  50% { color: var(--navBarIcons); }
  100% { color: white; }
}

@keyframes ringing {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(25deg); }
  20% { transform: rotate(-15deg); }
  30% { transform: rotate(15deg); }
  40% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  60% { transform: rotate(-2deg); }
  70% { transform: rotate(2deg); }
  80% { transform: rotate(-1deg); }
  90% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.ringing {
  position: relative;
  animation: ringing 2s infinite, colorPulse 2s infinite;
}

.noMessages {
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
}

.toast-position {
  bottom: 8rem !important;
}

a{
  text-decoration: none;
}
