.react-calendar {
    width: 100%;
    max-width: 600px;
    font-family: 'Inria Serif', serif;
    line-height: 2em;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #a0a096;
  }
  
  .react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border: none;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__navigation__label {
    flex-grow: 1;
    padding: 0.5em;
    text-align: center;
  }
  
  .react-calendar__navigation__label--hasPrevButton--hasNextButton {
    padding: 0.5em;
  }
  
  .react-calendar__navigation__prev-button,
  .react-calendar__navigation__next-button {
    padding: 0.5em;
  }
  
  .react-calendar__navigation__prev-button svg,
  .react-calendar__navigation__next-button svg {
    display: block;
    fill: #000;
  }
  
  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__next2-button {
    padding: 0.5em;
  }
  
  .react-calendar__navigation__prev2-button svg,
  .react-calendar__navigation__next2-button svg {
    display: block;
    fill: #000;
  }